/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

 
body {
    font-size: 90%;
	line-height: 1;
    font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
}
small {
    font-size: 80%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  begin custom style */


body {
	background-color: #383838;
	color: #E4E4E4;
	width: 100%;
	height: 100%;
}

#posts {
    margin: 0px auto;
    width: 400px;
    padding: 30px;
}

.post {
    width: 100%;
    line-height: 1.6em;
}

.post ul {
	list-style-type: disc;
	margin-left: 2em;
}

.post p {
    margin: 25px 0;
}

.heading {
    font-weight: normal;
    font-size: 1.8em;
    padding-bottom: 1em;
}

.post strong {
    font-weight: normal;
    font-size: 1.3em;
}

a {
    color: #E4E4E4;
    text-decoration: underline;
}

a:hover {
   color: #FFF;
}

#sidebar {
    width: 1px;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 2em;
}
